body {
  background-color: #f16059;
  color: #222;
  font-family: 'Bungee', Helvetica, Arial, sans-serif;
  text-align: center;
}

header {
  font-size: 24px;
  line-height: 48px;
}

h1 {
  font-family: 'Bungee Shade', 'Bungee', Helvetica, Arial, sans-serif;
}

.time {
  font-size: 21px;
}

#clock {
  font-size: 36px;
}

footer p {
  text-transform: uppercase;
  font-size: 12px;
}
