body {
  background-color: #f16059;
  color: #222;
}

header {
  font-size: 24px;
  line-height: 48px;
}

.time {
  font-size: 21px;
}

#clock {
  font-size: 36px;
}

footer p {
  text-transform: uppercase;
  font-size: 12px;
}
